* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.top-menu-bar {
  border-bottom: 5px solid #F6F6F6;
  float: right;
  height: 89px;
  width: 85%;
}
.top-bar-left-containers {
  border-right: 5px solid #F6F6F6;
  float: left;
  height: 84px;
  width: 6.5%;
  display: flex;
  justify-content:  center;
}

.top-bar-left-search {
  float: left;
  height: 84px;
  width: 6.5%;
  display: flex;
  justify-content: center;
}

.top-left-search-text-container {
  float: left;
  height: 84px;
  width: 30%;
}

.top-left-search-text {
  color: #ADB6C6;
  position: relative;
  top: 35px;
}

.top-bar-right-containers {
  border-left: 5px solid #F6F6F6;
  float: right;
  height: 84px;
  width: 6.5%;
  display: flex;
  justify-content: center;
}
.top-bar-icons {
  width: 24px;
}

.job-section {
  border-bottom: 5px solid #F6F6F6;
  float: right;
  height: 210px;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.round-buttons-section {
  height: 94px;
  width: 25%;
  float: right;
  position: relative;
  display: flex;
  justify-content: center;
  top: 39px;
  right: 2%;
  flex-direction: row-reverse;
  padding-top: 24px;
  padding-left: 10px;
}

.round-buttons {
  border-radius: 50%;
  border: 2px solid #E7E7E9;
  overflow: hidden;
  padding-bottom: 12%;
  width: 14.5%;
  height: 0;
  margin-top: 1%;
}

.round-buttons-icons {
  padding: 16% 20%;
  width: 100%;
}

#pencil-icon {
  position: relative;
  right: 5%;
}

#gallon-icon {
  position: relative;
  right: 10%;
}

.job-description-location-icon {
  width: 13px;
}

.job-description {
  width: 70%;
  margin-top: 53px;
}

h1 {
  font-size: 30px;
}

.job-location {
  color: #D2D3D7;
  position: relative;
  top: 17px;
}

.preview-post {
  color: #B5DCF7;
}

#open-button {
  border-radius: 50px;
  border: 2px solid #E7E7E9;
  overflow: hidden;
  color: #ADB6C6;
  width: 33%;
  height: 41px;
  display: flex;
  justify-content: center;
  margin-right: 47px;
}

#open-text {
  margin-top: 10px;
}

.circle-icon {
  width: 13px;
}

.all-tabs {
  color: #B0B3B8;
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 52px;
}

.tabs {
  display: inline-block;
  margin-left: 4%;
}

.graph-section {
  background-color: #EEF2F6;
  border-bottom: 5px solid #F6F6F6;
  float: right;
  height: 395px;
  width: 85%;
  display: flex;
  flex-direction: row-reverse;
}

.bar-graph-section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.circle-graphs {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-under-circle-graph-section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.button-under-graph-section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.totals-text {
  padding-top: 6px;
  padding-left: 17px;
}

.circle-graph-1 {
  align-items: center;
  border: 10px solid;
  border-color: #4EB8BF #4EB8BF #fff #4EB8BF;
  border-radius: 1000px;
  display: inline-block;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  width: 150px;
  margin-top: 75px;
}

.circle-graph-2 {
  align-items: center;
  border: 10px solid;
  border-color: #00A1F7 #00A1F7 #fff #fff;
  border-radius: 1000px;
  display: flex;
  display: inline-block;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  margin-left: 15px;
  width: 150px;
  margin-top: 75px;
}

.circle-graph-3 {
  align-items: center;
  border: 10px solid;
  border-color:  #fff #fff brown #fff;
  border-radius: 1000px;
  display: flex;
  display: inline-block;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  margin-left: 15px;
  width: 150px;
  margin-top: 75px;
}

.circle-graph-numbers {
  display: inline-block;
  font-size: 28px;
  padding: 35% 23%;
}

.circle-graph-text {
  bottom: 44px;
  font-size: 10px;
  left: 40px;
  position: relative;
  top: -34px;
}

#graph-3-number {
  padding: 35% 31%;
}

.bar-graph {
  height: 61%;
}

.button-under-bar-graph {
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 2px solid #E7E7E9;
  padding: 10px 13px;
  height: 39px;
  width: 148px;
}

.button-under-cirlce-graph {
  border-radius: 50px;
  border: 2px solid #E7E7E9;
  padding: 5px 7px;
  width: 258px;
  background-color: #FFFFFF;
  height: 39px;
}

.info-section {
  background-color: #EEF2F6;
  border-bottom: 5px solid #F6F6F6;
  float: right;
  height: 1003px;
  width: 85%;
  display: flex;
  flex-direction: row-reverse;
}

.social-media-section {
  width: 90%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 88px;
}

.social-media-icons {
  left: 24px;
  position: relative;
  top: 16px;
  width: 20px;
}

.social-media-text {
  bottom: 4px;
  color: #FFFFFF;
  left: 93px;
  position: relative;
  width: 220px;
}

.facebook-button {
  background-color: #5172BC;
  height: 55px;
  width: 314px;
}

.twitter-button {
  background-color: #46A9E9;
  height: 55px;
  width: 314px;
}

.linkedin-button {
  background-color: #3381B7;
  display: inline-block;
  height: 55px;
  width: 314px;
}

.link-to-job-section {
  height: 23%;
  width: 90%;
  border-bottom: 2px solid #DDE1E6;
}

.top-of-link-to-job-section {
  height: 130px;
}

.earth-icon {
  width: 23px;
  margin-top: 31px;
}

.link-to-job-title {
  font-size: 19px;
  display: inline;
  margin-left: 10px;
  position: relative;
  bottom: 5px;
}

.link-to-job-text {
  color: #C6CACF;
  width: 347px;
  margin-top: 11px;
}

.url-and-copy-bar {
  background-color: #FFFFFF;
  height: 50px;
  width: 100%;
}

.copy-button {
  background-color: #67B8BD;
  float: right;
  height: 50px;
  width: 67px;
}

.copy-text {
  color: #FFFFFF;
  left: 15px;
  position: relative;
  top: 15px;
}

.url-text {
  display: inline-block;
  font-size: 14px;
  left: 18px;
  position: relative;
  top: 15px;
}

.widget-section {
  height: 24%;
  width: 90%;
  border-bottom: 2px solid #DDE1E6;
}

.top-of-widget-section {
  height: 142px;
}

.camera-icon {
  width: 23px;
  margin-top: 31px;
}

.widget-title {
  font-size: 19px;
  display: inline;
  margin-left: 10px;
  position: relative;
  bottom: 5px;
}

.widget-text {
  color: #C6CACF;
  width: 349px;
  margin-top: 11px;
}

.widget-copy-bar {
  background-color: #FFFFFF;
  height: 50px;
  width: 100%;
}

.resume-section {
  height: 21%;
  width: 90%;
}

.top-of-resume-section {
  height: 142px;
}

.arrow-icon {width: 23px;margin-top: 31px;}    

.resume-title {
  font-size: 19px;
  display: inline;
  margin-left: 10px;
  position: relative;
  bottom: 5px;
}

.resume-text {
  color: #C6CACF;
  width: 349px;
  margin-top: 11px;
}

.resume-bar {
  background-color: #FFFFFF;
  height: 50px;
  width: 100%;
}

.job-description-table {
  background-color: #FFFFFF;
  height: 801px;
  width: 63%;
  margin: auto;
}

.job-description-table-header {
  background-color: #878D9D;
  height: 82px;
  width: 100%;
  display: flex;
}

.job-description-sections {
  border-bottom: 5px solid #F6F6F6;
  height: 90px;
  width: 100%;
}

.job-description-text {
  color: #FFFFFF;
  height: 39px;
  margin-top: 34px;
  margin-left: 56px;
}

.edit-button {
  background-color: #ADB6C6;
  width: 88px;
  height: 39px;
  margin-left: 24px;
  margin-top: 21px;
}

.edit-pencil {
  left: 15px;
  position: relative;
  top: 11px;
  width: 14px;
}

.edit-text {
  bottom: 5px;
  color: #FFFFFF;
  font-size: 16px;
  left: 35px;
  position: relative;
}

.title-of-sections {
  color: #A7AAB4;
  font-size: 14px;
  left: 45px;
  position: relative;
  top: 39px;
}

.section-text {
  color: #A7AAB4;
  font-size: 16px;
  left: 212px;
  position: relative;
  top: 23px;
  width: 63%;
}

#description-text {
  width: 67%
}

.side-menue-bar {
  background-color: #374050;
  display: inline-block;
  height: 1696px;
  width: 15%;
}

.user-section {
  border-bottom: 5px solid #2F3848;
  height: 195px;
}

.user-img {
  border-radius: 50%;
  left: 27%;
  position: relative;
  top: 29px;
}

.user-name {
  color: #ADB6C6;
  font-size: 19px;
  left: 20%;
  position: relative;
  top: 46px;
}

.user-name:hover {
  color: #FFFFFF;
}

.section-labels {
  color: #5C6778;
  left: 11%;
  position: relative;
  top: 28px;
}

.icons {
  left: 11%;
  position: relative;
  top: 50px;
  width: 17px;
}

.icon-text {
  color: #ADB6C6;
  left: 25%;
  position: relative;
  top: 32px;
  width: 65%;
}

.icon-text:hover {
  color: #FFFFFF;
}

.main-section, 
.admin-section {
  border-bottom: 5px solid #2F3848;
  height: 265px;
}

.side-menue-bar-mobile {
  display: none;
}

@media screen and (max-width: 1199px) {
  
  .job-description-table {
    
  }

  .info-section {
  flex-direction: column-reverse;
  height: 2105px;
  }

  .social-media-section {
    flex-direction: column;
    margin-left: 19%;
    width: 81%;
    margin-top: -50px;
  }

  .facebook-button {
    width: 77%;
    display: flex;
    justify-content: center;
  }

  .twitter-button {
    width: 77%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  .linkedin-button {
    width: 77%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  .social-media-icons {
    width: 38px;
    padding-bottom: 31px;
    align-self: center;
    left: -19px;
  }

  .social-media-text {
    width: 220px;
    font-size: 25px;
    align-self: center;
    left: 45px;
    top: 1px;
  }

  .link-to-job-section {
    display: flex;
    flex-direction: column;
    margin-left: 19%;
    width: 62%;
    height: 230px;
    margin-top: 80px;
  }

  .earth-icon {
    width: 35px;
  }

  .link-to-job-title{
    font-size: 28px;
    bottom: 8px;
  }

  .link-to-job-text{
    width: 100%;
  }

  .widget-section{
    display: flex;
    flex-direction: column;
    margin-left: 19%;
    width: 62%;
    height: 230px;
  }

  .camera-icon {
    width: 35px;
  }

  .widget-title {
    font-size: 28px;
    bottom: 8px;
  }

  .widget-text {
    width: 100%;
  }

  .resume-section {
    display: flex;
    flex-direction: column;
    margin-left: 19%;
    width: 62%;
    height: 230px;
  }

  .arrow-icon {
    width: 35px;
  }

  .resume-title {
    font-size: 28px;
    bottom: 8px;
  }

  .resume-text {
    width: 100%;
  }

  .side-menue-bar {
    height: 2799px;
  }
}

@media screen and (max-width: 1036px) {

  .user-name {
    left: 8%;
  }

  .graph-section {
  flex-direction: column-reverse;
  height: 800px;
  }

  .circle-graphs {
    width: 100%
  }

  .bar-graph-section {
    width: 100%;
  }

  .side-menue-bar {
    height: 3394px;
  }

  .job-section {
    height: 400px;
  }

  .all-tabs {
    flex-direction: column;
    justify-content: space-around;
    margin-left: 42%;
    height: 300px;
  }
}

@media screen and (max-width: 960px) {

  .side-menue-bar {
    width: 20%;
  }

  .job-section,
  .graph-section,
  .info-section,
  .top-menu-bar {
    width: 80%
  }

  .round-buttons-section {
    width: 34%;
  }

  .job-description {
    width: 65%;
  }

  .section-text {
    width: 40%;
    display: inline-block;
  }

}

@media screen and (max-width: 755px) {


  .job-section {
    height: 470px;
    flex-direction: inherit;
  }

  .job-description {
    margin-top: 20px;
  }

  .info-section,
  .graph-section,
  .job-section,
  .top-menu-bar {
    float: none;
    width: 100%;
  }

  .round-buttons-section {
    position: relative;
    top: 79px;
    left: 34%;
  }
  
  .side-menue-bar {
    display: none;
  }

  .side-menue-bar-mobile {
    align-items: center;
    background-color: #354052;
    color: #999ca3;
    display: flex;
    flex-direction: row;
    height: 21vh;
    width: 100%;
  }

  .user-section {
    border-bottom: none;
  }

  .mobile-profile-div {
    display: flex;
    flex-direction: column;
    height: 63%;
    width: 166%;
  }

  .user-img {
  position: relative;
  left: 35%;
  }

  .user-name {
    margin: auto;
  }

  .mobile-links {
    display: flex;
    justify-content: space-evenly;
    width: 64%;
  }

}

@media screen and (max-width: 603px) {

  h1 {
    position: relative;
    right: 48px;
  }

  .job-location {
    position: relative;
    right: 25px;
  }

  .job-description-table {
    width: 100%;
  }

  .link-to-job-title,
  .widget-title,
  .resume-title {
    font-size: 23px;
  }

  .earth-icon,
  .camera-icon,
  .arrow-icon {
    width: 29px;
  }
}

@media screen and (max-width: 500px) {

  .top-bar-right-containers {
    width: 12.5%;
  }

  .top-bar-left-containers {
    width: 12.5%;
  }

  .mobile-links {
    flex-direction: column;
    height: 174px;
    margin-left: 15px;
  }

  .round-buttons-section {
    padding: 0;
    position: relative;
    top: 105px;
  }

  h1 {
    font-size: 20px;
    right: 0;
  }

  .job-location {
    font-size: 11px;
    right: 0;
  }

  #open-button {
    margin-right: 25px;
    width: 71px;
  }


  .user-section {
    width: 62%;
    display: flex;
  }

  .social-media-icons {
    width: 18px;
    left: 0px;
  }

  .social-media-text {
    font-size: 20px;
    width: 55%;
  }
}

@media screen and (max-width: 479px) {

  .graph-section {
    height: 990px;
  }

  .button-under-cirlce-graph {
    margin-top: 20px;
  }

  .earth-icon,
  .camera-icon,
  .arrow-icon {
    width: 20px;
  }

  .link-to-job-title, 
  .widget-title, 
  .resume-title {
    font-size: 14px;
  }

  .link-to-job-text,
  .widget-text,
  .resume-text {
    font-size: 13px;
  }

  .url-text {
    font-size: 8px;
    left: 0;
  }
}