* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.top-menu-bar {
  border-bottom: 5px solid #F6F6F6;
  float: right;
  height: 89px;
  width: 85%;
}
.top-bar-left-containers {
  border-right: 5px solid #F6F6F6;
  float: left;
  height: 84px;
  width: 6.5%;
}

.top-bar-left-search {
  float: left;
  height: 84px;
  width: 6.5%;
}

.top-left-search-text-container {
  float: left;
  height: 84px;
  width: 30%;
}

.top-left-search-text {
  color: #ADB6C6;
  position: relative;
  top: 35px;
}

.top-bar-right-containers {
  border-left: 5px solid #F6F6F6;
  float: right;
  height: 84px;
  width: 6.5%;
}
.top-bar-icons {
  left: 33%;
  position: relative;
  top: 31px;
  width: 24px;
}

.job-section {
  border-bottom: 5px solid #F6F6F6;
  float: right;
  height: 210px;
  width: 85%;
}

.round-buttons {
  border-radius: 50%;
  border: 2px solid #E7E7E9;
  float: right;
  height: 0;
  overflow: hidden;
  padding-bottom: 3%;
  position: relative;
  right: 3%;
  top: 65px;
  width: 3.5%;
}

.round-buttons-icons {
  height: auto;
  padding: 16% 20%;
  width: 100%;
}

#pencil-icon {
  position: relative;
  right: 4%;
}

#gallon-icon {
  position: relative;
  right: 5%;
}

.job-description-location-icon {
  width: 1%;
}

.job-description {
  left: 4%;
  position: relative;
  top: 52px;
  width: 70%;
}

h1 {
  font-size: 30px;
}

.job-location {
  color: #D2D3D7;
  position: relative;
  top: 17px;
}

.preview-post {
  color: #B5DCF7;
}

#open-button {
  border-radius: 50px;
  color: #ADB6C6;
  padding: 1.5%;
  position: relative;
  right: 7%;
  width: 8%;
}

#open-text {
  bottom: 8px;
  position: relative;
  right: 2px;
}

.all-tabs {
  color: #B0B3B8;
  position: relative;
  top: 125px;
}

.tabs {
  display: inline-block;
  margin-left: 4%;
}

.graph-section {
  background-color: #EEF2F6;
  border-bottom: 5px solid #F6F6F6;
  float: right;
  height: 395px;
  width: 85%;
}

.circle-graph-1 {
  align-items: center;
  border: 10px solid;
  border-color: #4EB8BF #4EB8BF #fff #4EB8BF ;
  border-radius: 1000px;
  display: flex;
  display: inline-block;
  flex-direction: column;
  height: 150px;;
  justify-content: center;
  margin-left: -170px;
  margin-top: 60px;
  width: 150px;
}

.circle-graph-2 {
  align-items: center;
  border: 10px solid;
  border-color: #00A1F7 #00A1F7 #fff #fff;
  border-radius: 1000px;
  display: flex;
  display: inline-block;
  flex-direction: column;
  height: 150px;;
  justify-content: center;
  margin-left: 15px;
  margin-top: 60px;
  width: 150px;
}

.circle-graph-3 {
  align-items: center;
  border: 10px solid;
  border-color:  #fff #fff brown #fff;
  border-radius: 1000px;
  display: flex;
  display: inline-block;
  flex-direction: column;
  height: 150px;;
  justify-content: center;
  margin-left: 15px;
  margin-top: 60px;
  width: 150px;
}

.circle-graph-numbers {
  display: inline-block;
  font-size: 28px;
  padding: 35% 23%;
}

.circle-graph-text {
  bottom: 44px;
  font-size: 10px;
  left: 40px;
  position: relative;
  top: -34px;
}

#graph-3-number {
  padding: 35% 31%;
}

.bar-graph {
  float: right;
  position: relative;
  right: 11%;
  top: 33px;
  width: 255px;
}

.button-under-bar-graph {
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 2px solid #E7E7E9;
  float: right;
  left: 90px;
  padding: 1.5%;
  position: relative;
  top: 281px;
  width: 152px;
}

.button-under-cirlce-graph {
  border-radius: 50px;
  border: 2px solid #E7E7E9;
  padding: 1.5%;
  width: 152px;
  position: relative;
  top: 75px;
  left: 194px;
  background-color: #FFFFFF;
}

.info-section {
  background-color: #EEF2F6;
  border-bottom: 5px solid #F6F6F6;
  float: right;
  height: 983px;
  width: 85%;
}

.facebook-button {
  background-color: #5172BC;
  display: inline-block;
  float: right;
  height: 55px;
  position: relative;
  right: 34px;
  top: 67px;
  width: 314px;
}

.twitter-button {
  background-color: #46A9E9;
  display: inline-block;
  float: right;
  height: 55px;
  position: relative;
  right: -280px;
  top: 140px;
  width: 314px;
}

.linkedin-button {
  background-color: #3381B7;
  display: inline-block;
  float: right;
  height: 55px;
  position: relative;
  right: -595px;
  top: 214px;
  width: 314px;
}

.social-media-icons {
  left: 24px;
  position: relative;
  top: 16px;
  width: 20px;
}

.social-media-text {
  bottom: 4px;
  color: #FFFFFF;
  left: 93px;
  position: relative;
  width: 220px;
}

.earth-icon {
  float: right;
  left: 620px;
  position: relative;
  top: 310px;
  width: 23px;
}

.link-to-job-title {
  float: right;
  font-size: 19px;
  left: 779px;
  position: relative;
  top: 313px;
}

.link-to-job-text {
  color: #C6CACF;
  float: right;
  position: relative;
  top: 297px;
  width: 347px;
}

.url-and-copy-bar {
  background-color: #FFFFFF;
  float: right;
  height: 50px;
  left: 310px;
  position: relative;
  top: 359px;
  width: 312px;
}

.copy-button {
  background-color: #67B8BD;
  float: right;
  height: 50px;
  width: 67px;
}

.copy-text {
  color: #FFFFFF;
  left: 15px;
  position: relative;
  top: 15px;
}

.url-text {
  display: inline-block;
  font-size: 14px;
  left: 18px;
  position: relative;
  top: 15px;
}

.camera-icon {
  float: right;
  left: 336px;
  position: relative;
  top: 489px;
  width: 23px;
}

.widget-title {
  float: right;
  font-size: 19px;
  left: 567px;
  position: relative;
  top: 492px;
}

.widget-text {
  color: #C6CACF;
  float: right;
  left: 682px;
  position: relative;
  top: 512px;
  width: 349px;
}

.widget-copy-bar {
  background-color: #FFFFFF;
  float: right;
  height: 50px;
  position: relative;
  right: 37px;
  top: 527px;
  width: 312px;
}

.arrow-icon {
  float: right;
  left: -15px;
  position: relative;
  top: 656px;
  width: 23px;
}    

.resume-title {
  float: right;
  font-size: 19px;
  left: 235px;
  position: relative;
  top: 658px;
}

.resume-text {
  color: #C6CACF;
  float: right;
  left: 556px;
  position: relative;
  top: 694px;
  width: 349px;
}

.resume-bar {
  background-color: #FFFFFF;
  float: right;
  height: 50px;
  left: 866px;
  position: relative;
  top: 759px;
  width: 312px;
}

.job-description-table {
  background-color: #FFFFFF;
  height: 801px;
  left: 4%;
  position: relative;
  top: 67px;
  width: 63%;
}

.job-description-table-header {
  background-color: #878D9D;
  height: 82px;
  width: 100%;
}

.job-description-sections {
  border-bottom: 5px solid #F6F6F6;
  height: 90px;
  width: 100%;
}

.job-description-text {
  color: #FFFFFF;
  display: inline-grid;
  left: 47px;
  position: relative;
  top: 14px;
}

.edit-button {
  background-color: #ADB6C6;
  bottom: 13px;
  height: 38px;
  left: 213px;
  position: relative;
  width: 88px;
}

.edit-pencil {
  left: 15px;
  position: relative;
  top: 11px;
  width: 14px;
}

.edit-text {
  bottom: 5px;
  color: #FFFFFF;
  font-size: 16px;
  left: 35px;
  position: relative;
}

.title-of-sections {
  color: #A7AAB4;
  font-size: 14px;
  left: 45px;
  position: relative;
  top: 39px;
}

.section-text {
  color: #A7AAB4;
  font-size: 16px;
  left: 212px;
  position: relative;
  top: 23px;
}

#description-text {
  width: 67%
}

.side-menue-bar {
  background-color: #374050;
  display: inline-block;
  height: 1677px;
  width: 15%;
}

.user-section {
  border-bottom: 5px solid #2F3848;
  height: 195px;
}

.eloi {
  border-radius: 50%;
  left: 27%;
  position: relative;
  top: 29px;
}

.user-name {
  color: #ADB6C6;
  font-size: 19px;
  left: 20%;
  position: relative;
  top: 46px;
}

.user-name:hover {
  color: #FFFFFF;
}

.section-labels {
  color: #5C6778;
  left: 11%;
  position: relative;
  top: 28px;
}

.icons {
  left: 11%;
  position: relative;
  top: 50px;
  width: 17px;
}

.icon-text {
  color: #ADB6C6;
  left: 25%;
  position: relative;
  top: 32px;
  width: 65%;
}

.icon-text:hover {
  color: #FFFFFF;
}

.main-section, 
.admin-section {
  border-bottom: 5px solid #2F3848;
  height: 265px;
}
